*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.header-search {
    position: absolute;
    margin-left: 17px;
    margin-top: 8px;
    height: 25px;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  .search-input{
      width: 527px !important;
      padding: 10px 39px;
    background-color: #ebebeb;
  }

  .card-header{
    font-size: 17px;
    font-weight: 600;
  }
  .btn-primary {
    color: #fff;
    background-color: #1a73e8;
    border-color: #007bff;
}

.dash-box{
        border: 10px solid #ebebeb;
}

.btn-rounded {
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 40px;
  }
  
  .box-shadow{
    box-shadow: 0px 0px 19px #ede7e7;
  }
.calendar-container {
    box-shadow: 0px 0px 19px #ede7e7;
    padding: 10px !important;
    /* position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box; */
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: .25rem;
}



.view-container-border {
    padding-top: 13px !important;
}
.media h5{
    color: #686b70;
    font-weight: 600;
    font-size: 16px;
}
.time-type{
    font-size: 14px;
}
.inbox-section .media {
    padding: 8px;
    border-bottom: 1px solid #e7dede;
}
.inbox-section .media:hover{
    background-color: #efecec;
    padding: 8px;
    transition: all 0.5s;
}
.g-btn{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    -webkit-font-smoothing: antialiased;
    letter-spacing: .25px;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    background-image: none;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    color: #3c4043;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    font-weight: 500;
    text-transform: none;
}
.g-btn:hover{
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    background-color: #fafafb;
}
.bottom-footer{
    border-top: 1px solid rgba(0,0,0,.125);
    padding-top: 19px;
    padding-bottom: 19px;
}







  @media (min-width: 1200px){
.container{
    max-width: 1340px;
}
  }